.to-do-list {
  font-family: Arial, sans-serif;
  text-align: right;
  margin-top: -200px;
  width: 500px;
  margin-right: 30px;
  margin-bottom: 100px;
  float: right;
  padding: 0px 40px 20px;

}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: right;
  margin-top: -200px;
  width: 500px;
  float: right;
  padding-right: 10px;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 7px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.text {
  flex: 1;
  color: black;
}
.delete,
.move {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

h1 {
  font-size: 4rem;
}
button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add {
  background-color: hsl(120, 100%, 25%);
}
.add:hover {
  background-color: hsl(120, 100%, 15%);
}
.delete {
  background-color: hsl(0, 100%, 50%);
}
.delete:hover {
  background-color: hsl(0, 100%, 40%);
}
.move {
  background-color: hsl(209, 100%, 50%);
}
.move:hover {
  background-color: hsl(209, 100%, 40%);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
}
ol {
  padding: 0;
}
li {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  margin-left: -200px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 20px;
  display: inline-flex;
  align-items: center;

}
.text {
  flex: 1;
  font-size:xx-large;
  font: bolder;
  color: black;
}
.delete,
.move {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.date-input {
  /* Apply general input styles */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px; /* Adjust width as needed */

  /* Remove default arrow icon */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}
